* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:focus,
:active {
  outline: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

html,
body {
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  line-height: 1.1;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins Bold"), local("Poppins-Bold"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Medium"), local("Poppins-Medium"), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins Light"), local("Poppins-Light"), url("../fonts/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
html {
  scrollbar-color: #000000 #ffffff;
  font-family: sans-serif;
}
html::-webkit-scrollbar {
  width: 12px;
  background-color: #000000;
}
html::-webkit-scrollbar-track {
  background: #ffffff;
}
html::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 20px;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

._wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  font-size: 1rem;
  background-color: #1f1c26;
}

._container {
  padding: 0 12px;
  margin: 0 auto;
}
@media screen and (min-width: 40em) {
  ._container {
    max-width: 1192px;
  }
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.header {
  margin-bottom: 3.75rem;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f2f2f2;
}
.logo_big {
  width: 190px;
  margin-left: 27px;
}
@media screen and (max-width: 39.98em) {
  .logo_big {
    display: none;
  }
}
.logo_big a {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 40em) {
  .logo__image {
    display: none;
  }
}
.logo__title {
  color: #f2f2f2;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
}
.logo__title .pink {
  color: #f24b88;
}
.logo__subtitle {
  color: #f2f2f2;
  font-weight: 400;
  font-size: 0.875rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: 1.5px;
}

.topnav {
  position: relative;
}
.topnav__open {
  background: transparent;
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 20px;
  height: 18px;
}
@media screen and (min-width: 40em) {
  .topnav__open {
    display: none;
  }
}
.topnav__open span {
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  transition: all 300ms linear;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
}
.topnav__open[aria-expanded=true] span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px) scale(1.2);
  -webkit-transform: rotate(-45deg) translate(-5px, 6px) scale(1.2);
  -moz-transform: rotate(-45deg) translate(-5px, 6px) scale(1.2);
  -ms-transform: rotate(-45deg) translate(-5px, 6px) scale(1.2);
  -o-transform: rotate(-45deg) translate(-5px, 6px) scale(1.2);
}
.topnav__open[aria-expanded=true] span:nth-child(2) {
  opacity: 0;
}
.topnav__open[aria-expanded=true] span:nth-child(3) {
  transform: rotate(45deg) translate(-7px, -7px) scale(1.2);
  -webkit-transform: rotate(45deg) translate(-7px, -7px) scale(1.2);
  -moz-transform: rotate(45deg) translate(-7px, -7px) scale(1.2);
  -ms-transform: rotate(45deg) translate(-7px, -7px) scale(1.2);
  -o-transform: rotate(45deg) translate(-7px, -7px) scale(1.2);
}
.topnav__open[aria-expanded=true] + .topnav__menu {
  translate: 0;
}
@media (prefers-reduced-motion) {
  .topnav__open[aria-expanded=true] + .topnav__menu {
    opacity: 1;
  }
}
.topnav__menu {
  min-width: 154px;
  padding: 1.875rem 0;
  position: absolute;
  top: 57px;
  right: -12px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #59253e;
  font-weight: 400;
  font-size: 0.75rem;
  translate: 100vw 0;
  transition: translate 300ms ease-in-out;
  -webkit-transition: translate 300ms ease-in-out;
  -moz-transition: translate 300ms ease-in-out;
  -ms-transition: translate 300ms ease-in-out;
  -o-transition: translate 300ms ease-in-out;
  z-index: 2;
}
@media (prefers-reduced-motion) {
  .topnav__menu {
    translate: 0;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    -webkit-transition: opacity 300ms ease-in-out;
    -moz-transition: opacity 300ms ease-in-out;
    -ms-transition: opacity 300ms ease-in-out;
    -o-transition: opacity 300ms ease-in-out;
  }
}
@media screen and (min-width: 40em) {
  .topnav__menu {
    position: static;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 97px;
    background-color: transparent;
    font-size: 0.875rem;
  }
}
.topnav__links {
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  text-transform: uppercase;
}
@media screen and (min-width: 39.99em) {
  .topnav__links {
    margin: 0;
    flex-direction: row;
    gap: 40px;
  }
}
.topnav__item {
  position: relative;
  list-style-type: none;
}
.topnav__item::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #59253e;
  border: 2px solid #59253e;
  position: absolute;
  left: 0;
  bottom: -10px;
  visibility: hidden;
}
.topnav__item:hover::after {
  visibility: visible;
}
.topnav__item a {
  color: #f2f2f2;
}
.topnav__login {
  text-align: center;
  text-transform: uppercase;
}
.topnav__login .topnav__link {
  padding: 4px 11px;
  font-size: 0.75rem;
  background-color: #f24b88;
  color: #f2f2f2;
}
@media screen and (min-width: 39.98em) {
  .topnav__login .topnav__link {
    padding: 3px 8px;
    font-size: 0.875rem;
  }
}

.section-1 {
  margin-bottom: 50px;
}
.section-1__image {
  margin-bottom: 3.125rem;
  padding-bottom: 84%;
  overflow: hidden;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.section-1__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-1__title {
  margin-bottom: 0.5625rem;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
.section-1__title .big {
  font-weight: 700;
  font-size: 26px;
}
.section-1__text {
  margin-bottom: 3.375rem;
  color: #ffffff;
  opacity: 0.36;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
}
.section-1__button {
  padding: 0.75rem;
  border-radius: 10px;
  background-color: #f24b88;
  color: #ffffff;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.section-1__card {
  display: none;
}

/*# sourceMappingURL=style.css.map */
