@use 'sass:math';
@use 'sass:map';
@use 'modules/_index' as m;

// GENERAL
html {
  // Custom scrollbar:
  // Firefox
  scrollbar-color: m.$black m.$white;
  // Chrome/Edge/Safari
  &::-webkit-scrollbar {
    width: 12px;
    background-color: m.$black;
  }
  &::-webkit-scrollbar-track {
    background: m.$white;
  }
  &::-webkit-scrollbar-thumb {
    background-color: m.$black;
    border-radius: 20px;
  }
  font-family: sans-serif;
}
body {
  font-family: Poppins, sans-serif;
  font-size: 16px;
}
._wrapper {
  width: 100%;
  min-height: 100%;

  overflow: hidden;
  font-size: m.rem(16);
  background-color: m.$color_3;
}
._container {
  padding: 0 12px;
  margin: 0 auto;
  @include m.wMin(700px) {
    max-width: 1192px;
    // padding: 0;
  }
  // padding: 0 15px;
}
// give this class to block containing the image
._ibg {
  position: relative;
  & img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}
// GENERAL END

// HEADER
.header {
  margin-bottom: m.rem(60);
  padding-top: m.rem(25);
  padding-bottom: m.rem(25);
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: m.$color_4;
  &__logo {
  }
  &__nav {
  }
}
.logo {
  &_big {
    width: 190px;
    @include m.wMin(900px) {
      margin-left: 27px;
    }
    @include m.wMax(700px) {
      display: none;
    }
    a {
      display: flex;
      flex-direction: column;
      // align-items: center;
      // letter-spacing: 3px;
    }
  }
  &__image {
    @include m.wMin(700px) {
      display: none;
    }
  }
  &__title {
    color: m.$color_4;

    text-transform: uppercase;
    font-weight: 700;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    .pink {
      color: m.$color_1;
    }
  }
  &__subtitle {
    color: m.$color_4;
    font-weight: 400;
    font-size: m.rem(14);
    text-align: center;
    text-transform: uppercase;
    line-height: 100%;
    letter-spacing: 1.5px;
  }
}
.topnav {
  position: relative;
  &__open {
    background: transparent;
    display: flex;
    flex-direction: column;
    gap: 7px;
    width: 20px;
    height: 18px;
    @include m.wMin(700px) {
      display: none;
    }
    span {
      //height: 3px;
      background-color: m.$color_4;
      border: 1px solid m.$color_4;
      border-radius: 5px;
      transition: all 300ms linear;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      -webkit-transition: all 300ms linear;
      -moz-transition: all 300ms linear;
      -ms-transition: all 300ms linear;
      -o-transition: all 300ms linear;
    }

    &[aria-expanded='true'] {
      span:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px) scale(1.2);
        -webkit-transform: rotate(-45deg) translate(-5px, 6px) scale(1.2);
        -moz-transform: rotate(-45deg) translate(-5px, 6px) scale(1.2);
        -ms-transform: rotate(-45deg) translate(-5px, 6px) scale(1.2);
        -o-transform: rotate(-45deg) translate(-5px, 6px) scale(1.2);
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(3) {
        transform: rotate(45deg) translate(-7px, -7px) scale(1.2);
        -webkit-transform: rotate(45deg) translate(-7px, -7px) scale(1.2);
        -moz-transform: rotate(45deg) translate(-7px, -7px) scale(1.2);
        -ms-transform: rotate(45deg) translate(-7px, -7px) scale(1.2);
        -o-transform: rotate(45deg) translate(-7px, -7px) scale(1.2);
      }
      // "opens" nav menu
      + .topnav__menu {
        translate: 0;

        @media (prefers-reduced-motion) {
          opacity: 1;
        }
      }
    }
  }
  &__menu {
    min-width: 154px;
    padding: m.rem(30) 0;
    position: absolute;
    top: 57px;
    right: -12px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    background-color: m.$color_2;

    font-weight: 400;
    font-size: m.rem(12);

    translate: 100vw 0;
    transition: translate 300ms ease-in-out;
    -webkit-transition: translate 300ms ease-in-out;
    -moz-transition: translate 300ms ease-in-out;
    -ms-transition: translate 300ms ease-in-out;
    -o-transition: translate 300ms ease-in-out;

    z-index: 2;
    @media (prefers-reduced-motion) {
      translate: 0;
      opacity: 0;
      transition: opacity 300ms ease-in-out;
      -webkit-transition: opacity 300ms ease-in-out;
      -moz-transition: opacity 300ms ease-in-out;
      -ms-transition: opacity 300ms ease-in-out;
      -o-transition: opacity 300ms ease-in-out;
    }
    @include m.wMin(700px) {
      position: static;
      padding: 0;
      display: flex;
      flex-direction: row;
      gap: 30px;
      background-color: transparent;

      font-size: m.rem(14);
    }
    @include m.wMin(900px) {
      gap: 97px;

      font-size: m.rem(14);
    }
  }
  &__links {
    margin-bottom: m.rem(32);

    @include m.flexC;
    flex-direction: column;
    gap: 15px;

    text-transform: uppercase;
    // color: m.$color_4;
    @include m.wMin(700px) {
      margin: 0;
      flex-direction: row;
      gap: 30px;
    }
    @include m.wMin(899px) {
      gap: 40px;
    }
  }
  &__item {
    position: relative;
    list-style-type: none;

    &::after {
      content: '';
      width: 100%;
      height: 1px;
      background-color: m.$color_2;
      border: 2px solid m.$color_2;
      position: absolute;
      left: 0;
      bottom: -10px;
      visibility: hidden;
    }
    &:hover::after {
      visibility: visible;
    }
    a {
      color: m.$color_4;
    }
  }
  &__link {
  }
  &__login {
    // display: inline-block;
    // margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    // @include m.wMin(40em) {
    // 	margin-left: auto;
    // }
    .topnav__link {
      padding: 4px 11px;

      font-size: m.rem(12);
      background-color: m.$color_1;
      color: m.$color_4;
      @include m.wMin(39.98em) {
        padding: 3px 8px;
        font-size: m.rem(14);
      }
    }
  }
}

// HEADER END
// ==========================================
// section-1
.section-1 {
  margin-bottom: 50px;
  // background-color: m.$color_3;
  @include m.wMin(700px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-rows: 1fr;
    column-gap: 25px;
    // row-gap: 20px;
  }
  @include m.wMin(1000px) {
    grid-template-columns: minmax(250px, 8fr) minmax(240px, 6fr) minmax(
        230px,
        6.2fr
      );

    // grid-template-areas:
    //   'cont img cards'
    //   'cont img cards';
  }
  &__image {
    display: block;
    margin-top: 25px;
    // background-color: m.$color_3;
    margin-bottom: m.rem(50);
    padding-bottom: 84%;
    overflow: hidden;

    // align-self: end;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    @include m.wMin(700px) {
      max-height: 440px;
      // height: 100%;
      grid-row: 1 / 3;
      grid-column: 2 / 3;

      margin-bottom: 0;
      padding-bottom: 145%;

      // border-radius: 0;
      // -webkit-border-radius: 0;
      // -moz-border-radius: 0;
      // -ms-border-radius: 0;
      // -o-border-radius: 0;
    }

    img {
      // align-self: end;
      object-position: top;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include m.wMin(700px) {
      grid-row: 1 / 3;
      grid-column: 1 / 2;

      align-items: flex-start;
      justify-content: space-between;
    }
    @include m.wMin(900px) {
      margin-right: 19%;
    }
  }
  &__title {
    margin-bottom: m.rem(9);
    color: m.$white;

    font-weight: 500;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    @include m.wMin(700px) {
      // margin-bottom: m.rem(65);
      font-size: m.rem(29);
    }
    .big {
      font-weight: 700;
      font-size: 26px;
      // text-align: center;
      @include m.wMin(700px) {
        font-size: m.rem(64);
      }
    }
  }
  &__text {
    margin-bottom: m.rem(54);

    color: m.$white;
    opacity: 0.36;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    @include m.wMin(700px) {
      flex: 0 1 auto;
      // margin-bottom: m.rem(90);
      font-size: m.rem(14);
      text-align: left;
    }
  }
  &__button {
    padding: m.rem(12);
    border-radius: 10px;

    background-color: m.$color_1;
    color: m.$white;

    font-weight: 600;
    font-size: 13px;
    text-align: center;

    text-transform: uppercase;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    @include m.wMin(700px) {
      padding: 20px 30px;
      font-size: 20px;
    }
  }
  &__cards {
    // display: grid;
    // grid-template-columns: 1fr;
    // grid-template-rows: 1fr 1fr;
  }
  &__card {
    display: none;

    @include m.wMin(700px) {
      display: block;
      margin-top: 25px;
      padding: m.rem(18) m.rem(26);
      // align-self: end;
      // grid-column: 3;
      // grid-area: card;
    }
  }
}

.card {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: m.$color_6;
  &__title {
    margin-bottom: 15px;
    padding-top: 11px;
    color: m.$white;
    font-weight: 600;
    font-size: 20px;
  }
  &__text {
    margin-bottom: 18px;
    color: #ffffff;
    opacity: 0.36;

    font-weight: 400;
    font-size: 14px;
  }
  &__link {
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: m.$white;
    }
    span {
      margin-left: 13px;
      font-weight: 600;
      font-size: 18px;
    }
  }
}

// section-1 end

// FOOTER

// FOOTER END
